<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meet">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.ContactFriendActivity"
            android:theme="@style/AppTheme"
            android:label="@string/text_add_friend_contact"></activity>
        <activity
            android:name=".ui.AddFriendActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.FirstUploadActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.CloudService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".text.TouchPictureText" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.GuideActivity" />
        <activity
            android:name=".ui.IndexActivity"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" /> <!-- 小米适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- Oppo适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- Bmob -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.meet.BmobContentProvider" /> <!-- FileProvide -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.meet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>